<li>
  <% if page.current? %>
    <span class="relative inline-flex items-center px-4 py-2 bg-blue-500 text-white font-semibold border border-blue-500 rounded-md">
      <%= page %>
    </span>
  <% else %>
    <%= link_to page, url, {
      remote: remote,
      rel: page.rel,
      class: "relative inline-flex items-center px-4 py-2 bg-white text-gray-700 font-medium border border-gray-300 rounded-md hover:bg-gray-50"
    } %>
  <% end %>
</li>