<p>Hello <%= @resource.email %>様</p>

<p>パスワード再設定のご依頼を受け付けました。以下のリンクからパスワードの再設定を行ってください。</p>

<p><%= link_to 'パスワードを再設定する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このメールに心当たりがない場合は、無視していただいて問題ありません。</p>
<p>上記のリンクにアクセスして新しいパスワードを作成するまで、パスワードは変更されません。</p>
